
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: #cbaf87;
}

#menu {
  background-color: #e7dec8;
}

#pizza {
  float: left;
  clear: both;
}

#pizzaparagraph {
  display: block;
}

#secondparagraph {
  display: block;
}
