header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #7e8a97;
  text-align: center;
}

body {
  padding-top: 15%;
  background-color: #cbaf87;
  color: #30475e;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: silver;
}

#details {
  background-color: #e7dec8;
}

#breakfast {
  color: teal;
}

#navlist {
  list-style-type: none;
}

#pizza {
  float: left;
  clear: both;
  padding-right: 10px;
}

#pizzaparagraph {
  display: block;
}

#secondparagraph {
  display: block;
  clear: both;
}
